<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/sidebar.css" type="text/css" />
    <title>@ViewData["Title"] - projetfinalFJO</title>

    <environment include="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top text-white" style="background-color:black;" id="navbarCollapse" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            @{if (this.User.IsInRole("Admin")) //SRDP
                {
                    <li class="nav-item active">
                        <a class="nav-link" id="#" asp-action="Actualisation" asp-controller="Actualisation">Actualisation </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="GererUtilisateur" asp-controller="GererUtilisateur">Gérer un utilisateur</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Programmes">Gérer un programme</a>
                    </li>
                }
                else if (this.User.IsInRole("Sous_Commite"))
                {
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="Index" asp-controller="Programmes">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Programmes">Gestion des cours</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Programmes">Gestion des compétences</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Programmes">Gestion des analyses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Programmes">Génération des rapports</a>
                    </li>
                }
                else if (this.User.IsInRole("Commite_Programme"))
                {
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Génération des rapports</a>
                    </li>
                }
            }
        </ul>
        @await Html.PartialAsync("_LoginPartial")
    </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 well" style="background-color:white">
                @RenderBody()
            </div>
            <div id="mySidebar" class="sidebar">
                <button id="openBtn"></button>
                <i class="fas fa-align-right"></i><i class="glyphicon glyphicon-chevron-left"></i>
                <script>
                    document.getElementById("openBtn").addEventListener("click", OuvrirFermer);

                    function OuvrirFermer() {
                        if (document.getElementById("mySidebar").style.width == "250px") {
                            return fermer();
                        }
                        return ouvrir();
                    }
                    function ouvrir() {
                        document.getElementById("mySidebar").style.width = "250px";
                        document.getElementById("main").style.marginLeft = "250px";
                        $(".glyphicon glyphicon-chevron-left").attr('class', 'glyphicon glyphicon-chevron-right');
                        //document.getElementById("txtCommentaires").style.width = "200px";
                    }
                    function fermer() {
                        document.getElementById("mySidebar").style.width = "35px";
                        document.getElementById("main").style.marginLeft = "35px";
                        //document.getElementById("txtCommentaires").style.width = "0px";
                    }
                </script>
            </div>
        </div>
    </div>

    <partial name="_CookieConsentPartial" />

    <hr />
    <footer>
        <p>&copy; 2018 - projetfinalFJO</p>
    </footer>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
