

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="fr-ca">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/ScriptCssLogin/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/ScriptCssLogin/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/ScriptCssLogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/ScriptCssLogin/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/ScriptCssLogin/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/ScriptCssLogin/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
    @RenderBody()




    <!--===============================================================================================-->
    <script src="~/ScriptCssLogin/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/login.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>



