@model projetfinalFJO.Models.ActualisationViewModel

@{
    ViewData["Title"] = "Accueil";
}

<h2>Accueil</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Accueil">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumActualisation" class="control-label"></label>
                <input asp-for="NumActualisation" readonly class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="NomActualisation" class="control-label"></label>
                <input asp-for="NomActualisation" readonly class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="NoProgramme" class="control-label"></label>
                <input asp-for="NoProgramme" readonly class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="NomProgramme" class="control-label"></label>
                <input asp-for="NomProgramme" readonly class="form-control" />
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Approuve" readonly />
                    </label>
                    @Html.DisplayNameFor(model => model.Approuve)
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste d'actualisation</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
