@model projetfinalFJO.Appdata.Cours

<h4>Cours</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="_AddPartialAjouterCours">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NoCours" class="control-label"></label>
                <input asp-for="NoCours" class="form-control" />
                <span asp-validation-for="NoCours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomCours" class="control-label"></label>
                <input asp-for="NomCours" class="form-control" />
                <span asp-validation-for="NomCours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PonderationCours" class="control-label"></label>
                <input asp-for="PonderationCours" class="form-control" />
                <span asp-validation-for="PonderationCours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartementCours" class="control-label"></label>
                <input asp-for="DepartementCours" class="form-control" />
                <span asp-validation-for="DepartementCours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypedeCours" class="control-label"></label>
                <input asp-for="TypedeCours" class="form-control" />
                <span asp-validation-for="TypedeCours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoProgramme" class="control-label"></label>
                <select asp-for="NoProgramme" class ="form-control" asp-items="ViewBag.NoProgramme"></select>
            </div>
            <div class="form-group">
                <label asp-for="NomSession" class="control-label"></label>
                <select asp-for="NomSession" class ="form-control" asp-items="ViewBag.NomSession"></select>
            </div>
            <div class="form-group">
                <label asp-for="NomGroupe" class="control-label"></label>
                <select asp-for="NomGroupe" class ="form-control" asp-items="ViewBag.NomGroupe"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListeCours" asp-controller="Cours">Retour à la liste</a>
</div>

