@model projetfinalFJO.Appdata.Cours

<h4>Ajouter un cours</h4>
<hr />
<form method="post">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NoCours" class="control-label"></label>
                <input asp-for="NoCours" class="form-control" />
                <span asp-validation-for="NoCours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomCours" class="control-label"></label>
                <input asp-for="NomCours" class="form-control" />
                <span asp-validation-for="NomCours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PonderationCours" class="control-label"></label>
                <input asp-for="PonderationCours" class="form-control" />
                <span asp-validation-for="PonderationCours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypedeCours" class="control-label"></label>
                <select asp-for="TypedeCours" class="form-control">
                    <option value="Général">Général</option>
                    <option value="Technique">Technique</option>
                </select>
                <span asp-validation-for="TypedeCours" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="DepartementCours" class="control-label"></label>
                <select asp-for="DepartementCours" class="form-control">
                    <option value="Administration">Administration</option>
                    <option value="Informatique">Informatique</option>
                    <option value="Langues">Langues</option>
                    <option value="Psychologie">Pyschologie</option>
                    <option value="Santé">Santé</option>
                </select>
                <span asp-validation-for="DepartementCours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomSession" class="control-label"></label>
                <select asp-for="NomSession" class="form-control" asp-items="ViewBag.NomSession"></select>
            </div>
            <div class="form-group">
                <label asp-for="NomGroupe" class="control-label"></label>
                <select asp-for="NomGroupe" class="form-control"></select>
            </div>
        </div>
        <button type="button" onclick="AjouterCoursAjax()" class="btn btn-info">Ajouter cours</button><br /> |
        <a asp-action="ListeCours" asp-controller="Cours" class="btn btn-info" style="background-color:darkblue;border-color:darkblue">Retour à la liste</a>
    </div>
</form>