<h3 style="text-align:center; text-decoration:underline">Répartition des cours par session</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Compétences/Groupe</th>
            @foreach (var element in ViewBag.CoursList as IEnumerable<projetfinalFJO.Appdata.Cours>)
            {
                <th scope="col">
                    @element.NomCours
                </th>
                <th >
                    @element.NomSession
                </th>


            }
        </tr>
    </thead>
    <tbody>
        @{
            var listCours = ViewBag.listCours as IEnumerable<projetfinalFJO.Appdata.Cours>;

            @foreach (var item in listCours)
            {
                <tr>
                    <td>@item.NoCours</td>
                    <td>@item.NomSession</td>
                </tr>
            }
        }
    </tbody>
</table>
