@model projetfinalFJO.Appdata.Prealables

<h4>Ajouter un préalable</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AjouterPrealable">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="NoCours" class="control-label"></label>
                    <select asp-for="NoCours" class="form-control" asp-items="ViewBag.Cours"></select>
                </div>
            </div>
            @*<div class="form-group">
                <label asp-for="NoCours" class="control-label"></label>
                <input asp-for="NoCours" class="form-control" />
                <span asp-validation-for="NoCours" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="NoProgramme" class="control-label"></label>
                <input asp-for="NoProgramme" class="form-control" />
                <span asp-validation-for="NoProgramme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
