@model projetfinalFJO.Appdata.Cours

@{
    //ViewData["Title"] = "AjouterCours";


}
<div id="ListeGroupe">
    <div id="tabs">
        <ul>
            <li><a href="@Url.Action("AfficherGroupe", "Cours")">Groupes</a></li>
        </ul>
    </div>
</div>
<hr />
<div id="AjoutCours">
    <partial name="_AddPartialAjouterCours" />
    <div id="accordion">
    </div>
</div>
<hr />
<div id="Ajoutprealable">
    <div id="tabs2">
        <ul>
            <li><a href="@Url.Action("PartialListePrealable", "Cours")">Liste des préalabes</a></li>
            <li><a href="@Url.Action("PartialAjouterPrealable", "Cours")">Ajouter un préalable</a></li>
        </ul>
    </div>
</div>
</div>
@section Scripts
    {
    <script>
        /*https://jqueryui.com/tabs/#ajax  */
        $(function () {
            $("#tabs").tabs({
                beforeLoad: function (event, ui) {
                    ui.jqXHR.fail(function () {
                        ui.panel.html(
                            "Couldn't load this tab. We'll try to fix this as soon as possible. " +
                            "If this wouldn't be a demo.");
                    });
                }
            });

            $("#tabs2").tabs({
                beforeLoad: function (event, ui) {
                    ui.jqXHR.fail(function () {
                        ui.panel.html(
                            "Couldn't load this tab. We'll try to fix this as soon as possible. " +
                            "If this wouldn't be a demo.");
                    });
                }
            });
        });
    </script>
    <script src="~/js/Cours.js"></script>
}