@model projetfinalFJO.Appdata.Cours

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Cours</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NoCours" />
            <div class="form-group">
                <label asp-for="NomCours" class="control-label"></label>
                <input asp-for="NomCours" class="form-control" />
                <span asp-validation-for="NomCours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PonderationCours" class="control-label"></label>
                <input asp-for="PonderationCours" class="form-control" />
                <span asp-validation-for="PonderationCours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartementCours" class="control-label"></label>
                <input asp-for="DepartementCours" class="form-control" />
                <span asp-validation-for="DepartementCours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypedeCours" class="control-label"></label>
                <input asp-for="TypedeCours" class="form-control" />
                <span asp-validation-for="TypedeCours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoProgramme" class="control-label"></label>
                <select asp-for="NoProgramme" class="form-control" asp-items="ViewBag.NoProgramme"></select>
                <span asp-validation-for="NoProgramme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idsession" class="control-label"></label>
                <select asp-for="Idsession" class="form-control" asp-items="ViewBag.Idsession"></select>
                <span asp-validation-for="Idsession" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
