@model projetfinalFJO.Appdata.Famillecompetence

<h4>Famillecompetence</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="_AjouterFamille">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomFamille" class="control-label"></label>
                <input asp-for="NomFamille" class="form-control" />
                <span asp-validation-for="NomFamille" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button id="btCancel" type="reset" class="btn btn-primary">Annuler</button>
                <button id="btSubmit" type="button" onclick="AjouterFamilleAjax()" class="btn btn-primary">Ajouter</button>
                <div class="col-lg-6">

                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
