@model projetfinalFJO.Models.AnalyseCompetenceViewModel
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


<h4><u>Analyse de la compétence</u></h4>
<form asp-action="_CreerCompetence">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>           
            @if (ViewBag.Contexte == "Prechoisi")
            {
                <div class="form-group">
                    <label asp-for="CodeCompetence" class="control-label">Code de compétence</label>
                    <input asp-for="CodeCompetence" value="@ViewBag.Competence" readonly class="form-control" />
                    <span asp-validation-for="CodeCompetence" class="text-danger"></span>
                </div>
            }
            else if(ViewBag.Contexte == "NonChoisi")
            {
                <div class="form-group">
                    <label asp-for="CodeCompetence" class="control-label">Code de compétence</label>
                    <select asp-for="CodeCompetence" asp-items="@ViewBag.Competence" class="form-control"></select>
                    <span asp-validation-for="CodeCompetence" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="Titre" class="control-label">Description</label>
                <input asp-for="Titre" value="@ViewBag.Description" readonly class="form-control" />
                <span asp-validation-for="Titre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NiveauTaxonomique" class="control-label">Niveau taxonomique</label>
                <select asp-for="NiveauTaxonomique" asp-items="@ViewBag.Taxonomie" class="form-control"></select>
                <span asp-validation-for="NiveauTaxonomique" class="text-danger"></span>
            </div>         
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Reformulation" class="control-label"></label>
                <textarea asp-for="Reformulation" class="form-control" style="margin-top: 0px; margin-bottom: 0px; height: 163px;"></textarea>
                <span asp-validation-for="Reformulation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Context" class="control-label">Contexte</label>
                <textarea asp-for="Context" class="form-control" style="margin-top: 0px; margin-bottom: 0px; height: 163px;"></textarea>
                <span asp-validation-for="Context" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="SavoirFaireProgramme" class="control-label">Savoir faire</label>
                <textarea asp-for="SavoirFaireProgramme" class="form-control" style="margin-top: 0px; margin-bottom: 0px; height: 163px;"></textarea>
                <span asp-validation-for="SavoirFaireProgramme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SavoirEtreProgramme" class="control-label">Savoir être</label>
                <textarea asp-for="SavoirEtreProgramme" class="form-control" style="margin-top: 0px; margin-bottom: 0px; height: 163px;"></textarea>
                <span asp-validation-for="SavoirEtreProgramme" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="button" value="Enregistrer l'analyse de la compétence" class="btn btn-info" onclick="AnalyseCompetence()" />
    </div>
</form>


