@model projetfinalFJO.Appdata.AnalyseElementsCompetence

<h4><u>Éléments de compétences</u></h4>
<input type="hidden" value="@ViewBag.ListeElements" id="listeElements" />

@{
    var compteur = 0;
    foreach (var element in ViewBag.NumeroElem)
    {

        compteur += 1;
        @compteur
        <div id="Formulaire_@compteur" class="row">
            <div class="col-md-4">
                <form asp-action="_CreerElementCompetence">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Idelementcomp" class="control-label"></label>
                        <input asp-for="Idelementcomp" value="@element" readonly class="form-control" />
                        <span asp-validation-for="Idelementcomp" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NiveauTaxonomique" class="control-label"></label>
                        <input asp-for="NiveauTaxonomique" class="form-control" />
                        <span asp-validation-for="NiveauTaxonomique" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Reformulation" class="control-label"></label>
                        <input asp-for="Reformulation" class="form-control" />
                        <span asp-validation-for="Reformulation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Context" class="control-label"></label>
                        <input asp-for="Context" class="form-control" />
                        <span asp-validation-for="Context" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SavoirFaireProgramme" class="control-label"></label>
                        <input asp-for="SavoirFaireProgramme" class="form-control" />
                        <span asp-validation-for="SavoirFaireProgramme" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SavoirEtreProgramme" class="control-label"></label>
                        <input asp-for="SavoirEtreProgramme" class="form-control" />
                        <span asp-validation-for="SavoirEtreProgramme" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ValidationApprouve" class="control-label"></label>
                        <input asp-for="ValidationApprouve" class="form-control" />
                        <span asp-validation-for="ValidationApprouve" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdAnalyseAc" class="control-label"></label>
                        <input asp-for="IdAnalyseAc" class="form-control" />
                        <span asp-validation-for="IdAnalyseAc" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AdresseCourriel" class="control-label"></label>
                        <input asp-for="AdresseCourriel" class="form-control" />
                        <span asp-validation-for="AdresseCourriel" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="button" value="Create" id="Ajout_@compteur" onclick="Ajustation('Ajout_@compteur')" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
    }
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*@section  Scripts

    {
    <script type="text/javascript">
        alert("FUCK");
        function Ajustation(item) {
            $("#" + item).click(function () {
                num = item.charAt(7);
                alert(num);
            })
        }

    </script>


    }*@
