@*@{
        ViewData["Title"] = "CreerAnalyse";
    }*@
<div id="principale">
    <h2>Création d'analyse</h2>

</div>

@if (ViewBag.Contexte == "Prechoisi" || ViewBag.Contexte == "NonChoisi")
{
    <div id="divCompetence">
        <partial name="_AnalyseCompetence" />@*model="ViewBag.CreerAnalyse"*@
    </div>
    <hr />
}


@if (ViewBag.Contexte == "Prechoisi" || ViewBag.Contexte == "ElemNonChoisi")
{
    <div id="divElementCompetence">
        <partial name="../AnalyseCompetence/_AnalyseElementCompetence"  />@*model="ViewBag.CreerAnalyse"*@
    </div>
}


@section Scripts
    {
    <script src="~/js/Analyse.js"></script>
}