@model projetfinalFJO.Appdata.AnalyseCompétence

@{
    ViewData["Title"] = "ModifierAnalyse";
}

<h2>Modifier l'analyse</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ModifierAnalyse">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NiveauTaxonomique" class="control-label"></label>
                <select asp-for="NiveauTaxonomique" asp-items="@ViewBag.Taxonomie"  class="form-control"></select>
                <span asp-validation-for="NiveauTaxonomique" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reformulation" class="control-label"></label>
                <textarea asp-for="Reformulation" class="form-control" ></textarea>
                <span asp-validation-for="Reformulation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Context" class="control-label"></label>
                <textarea asp-for="Context" class="form-control" ></textarea>
                <span asp-validation-for="Context" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SavoirFaireProgramme" class="control-label"></label>
                <textarea asp-for="SavoirFaireProgramme" class="form-control" ></textarea>
                <span asp-validation-for="SavoirFaireProgramme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SavoirEtreProgramme" class="control-label"></label>
                <textarea asp-for="SavoirEtreProgramme" class="form-control" ></textarea>
                <span asp-validation-for="SavoirEtreProgramme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidationApprouve" class="control-label"></label>
                <input asp-for="ValidationApprouve" class="form-control" />
                <span asp-validation-for="ValidationApprouve" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <input type="submit" value="Sauvegarder" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListeAnalyse" class="btn btn-info" style="background-color:darkblue;border-color:darkblue">Retour à la liste d'analyse</a>
</div>

