@model projetfinalFJO.Appdata.AnalyseCompétence

@{
    ViewData["Title"] = "ModifierAnalyse";
}

<h2>ModifierAnalyse</h2>

<h4>AnalyseCompétence</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ModifierAnalyse">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NiveauTaxonomique" class="control-label"></label>
                <input asp-for="NiveauTaxonomique" class="form-control" />
                <span asp-validation-for="NiveauTaxonomique" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reformulation" class="control-label"></label>
                <input asp-for="Reformulation" class="form-control" />
                <span asp-validation-for="Reformulation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Context" class="control-label"></label>
                <input asp-for="Context" class="form-control" />
                <span asp-validation-for="Context" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SavoirFaireProgramme" class="control-label"></label>
                <input asp-for="SavoirFaireProgramme" class="form-control" />
                <span asp-validation-for="SavoirFaireProgramme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SavoirEtreProgramme" class="control-label"></label>
                <input asp-for="SavoirEtreProgramme" class="form-control" />
                <span asp-validation-for="SavoirEtreProgramme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidationApprouve" class="control-label"></label>
                <input asp-for="ValidationApprouve" class="form-control" />
                <span asp-validation-for="ValidationApprouve" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAnalyseAc" class="control-label"></label>
                <input asp-for="IdAnalyseAc" class="form-control" />
                <span asp-validation-for="IdAnalyseAc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdresseCourriel" class="control-label"></label>
                <input asp-for="AdresseCourriel" class="form-control" />
                <span asp-validation-for="AdresseCourriel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodeCompetence" class="control-label"></label>
                <input asp-for="CodeCompetence" class="form-control" />
                <span asp-validation-for="CodeCompetence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

