/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*https://stackoverflow.com/questions/14732448/how-do-i-make-the-scrollbar-on-a-div-only-visible-when-necessaryv */
/*Scroolbar Div */
.h-scroll {
    height: 80%; /* %-height of the viewport */
    width:100%;
    position: fixed;
    overflow: auto;
}

footer
{
    height:10%;
}
.page-header {
    height: 10%;
}

/* design des cards de la compétences*/
.card.cardspace {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 25px;
    width:95%;
    margin-left: auto;
    margin-right: auto;
}

.card.cardspace.cardstyle,.card-header.cardstyle {
    border-radius: 10px 10px 0px 0px;
}

.card-header {
    background-color: #17a2b8;
}
.btnanalyse {
    margin-bottom: 40px;
    margin-top: 10px
}
.card.cardcollapse {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
div.card-header.cardstyle {
    background-color: #17a2b8;
}
.collapselien {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.list {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.btnlist {
    border-radius: 45px 45px 45px 45px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #003eff;
    background: #17a2b8;
    font-weight: normal;
    color: #ffffff;
}


@media (min-width: 992px){
    .modal-lg {
        max-width: 1350px;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 1350px;
        margin: 1.75rem auto;
    }
}

.mega-menu {
    width: 800px;
    overflow: hidden;
    padding: 10px;
}

    .mega-menu a {
        text-decoration: none;
        color: cadetblue;
    }

    .mega-menu .sub-menu-heading {
        color: darkcyan;
    }

@media(max-width:2000px) {
    .mega-menu {
        width: 100%;
    }
}