@model projetfinalFJO.Appdata.RepartitionHeuresession

<h4>Repartition des heures sur la session</h4>
<hr />        
<div class="row">
    <div class="col-md-4">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodeCompetence" class="control-label"></label>
                <select asp-for="CodeCompetence" class="form-control" asp-items="ViewBag.CodeCompetence"></select>
            </div>

            <div class="form-group">
                <label asp-for="NomSession" class="control-label"></label>
                <select asp-for="NomSession" class="form-control" asp-items="ViewBag.NomSession"></select>
            </div>
            <div class="form-group">
                <label asp-for="NbhCompetenceSession" class="control-label"></label>
                <input asp-for="NbhCompetenceSession" class="form-control" />
                <span asp-validation-for="NbhCompetenceSession" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" value="Repartir" class="btn btn-info"  onclick="fnRepartitionHeureSessionAjax()"/>
            </div>
        </form>
     </div>
</div>