@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h3 style="text-align:center; text-decoration:underline">Tableau de la répartition des groupes par compétences</h3>
<table class="table table-bordered">
    <thead>

        <tr>
            <th>Compétences/Groupe</th>
            @foreach (var element in ViewBag.Groupes as IEnumerable<projetfinalFJO.Appdata.Groupe>)
            {
                <th scope="col">
                    @element.NomGroupe
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @{
            var ancienne = "";
            var list3 = ViewBag.GroupeCompetence as IEnumerable<projetfinalFJO.Appdata.GroupeCompetence>;
            bool check = false;
            List<projetfinalFJO.Appdata.GroupeCompetence> list = new List<projetfinalFJO.Appdata.GroupeCompetence>();
            foreach (var item in list3)
            {
                if (ancienne != item.CodeCompetence && ancienne != "")
                {
                    <tr>
                        <td>@ancienne</td>

                        @foreach (var element in ViewBag.Groupes as IEnumerable<projetfinalFJO.Appdata.Groupe>)
                        {
                            @foreach (var trust in list)
                            {
                                if (element.NomGroupe == trust.NomGroupe)
                                {
                                    <td scope="col">
                                      X
                                    </td>
                                    check = true;
                                }

                            }
                            if (check == true)
                            {
                                list.Remove(list.Find(x => x.NomGroupe == element.NomGroupe));
                                check = false;
                            }
                            else
                            {
                                <td></td>
                            }
                        }
                    </tr>

                }
                ancienne = item.CodeCompetence;
                list.Add(item);
            }
            // imprimer les répartions de la dernière compétence
            <tr>
                <td>@ancienne</td>


                @foreach (var element in ViewBag.NomSession as IEnumerable<projetfinalFJO.Appdata.Groupe>)
                {
                    @foreach (var trust in list)
                    {
                        if (element.NomGroupe == trust.NomGroupe)
                        {
                            <td scope="col">
                                X
                            </td>
                            check = true;
                        }

                    }
                    if (check == true)
                    {
                        list.Remove(list.Find(x => x.NomGroupe == element.NomGroupe));

                        check = false;
                    }
                    else
                    {
                        <td></td>
                    }
                }
            </tr>

        }


    </tbody>
</table>