@model projetfinalFJO.Appdata.RepartirHeureCompetence

<div class="card">
    <div class="card-header">
        <h4>Repartirtion des heures par competence</h4>
    </div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-4">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="CodeCompetence" class="control-label"></label>
                        <select asp-for="CodeCompetence" class="form-control" asp-items="ViewBag.CodeCompetence"></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="NbHsessionCompetence" class="control-label"></label>
                        <input asp-for="NbHsessionCompetence" class="form-control" />
                        <span asp-validation-for="NbHsessionCompetence" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="button" value="Create" class="btn btn-info pull-right" style="float:right;" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
