@model projetfinalFJO.Appdata.Groupe

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Groupe</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NomGroupe">Edit</a> |
    <a asp-action="List_groupe">Back to List</a>
</div>
