@model projetfinalFJO.Models.ProgrammesVM

@{
    ViewData["Title"] = "Create";
}
<div class="card cardspace cardstyle">
    <div class="card-header cardstyle">
        <h4>Ajouter un nouveau programme</h4>
    </div>
    <div class="card-body ">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="row">
                <div class="form-group col-4">
                    <label asp-for="NoProgramme" class="control-label"></label>
                    <input asp-for="NoProgramme" class="form-control" />
                    <span asp-validation-for="NoProgramme" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="NomProgramme" class="control-label"></label>
                    <input asp-for="NomProgramme" class="form-control" />
                    <span asp-validation-for="NomProgramme" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="NbHeureFormationTechnique" class="control-label"></label>
                    <input asp-for="NbHeureFormationTechnique" class="form-control" />
                    <span asp-validation-for="NbHeureFormationTechnique" class="text-danger"></span>
                </div>
               
            </div>
            <div class="row">
                <div class="form-group col-4">
                    <label asp-for="NbHeureFormationGenerale" class="control-label"></label>
                    <input asp-for="NbHeureFormationGenerale" class="form-control" />
                    <span asp-validation-for="NbHeureFormationGenerale" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="NbUniteFormationGenerale" class="control-label"></label>
                    <input asp-for="NbUniteFormationGenerale" class="form-control" />
                    <span asp-validation-for="NbUniteFormationGenerale" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="NbUniteFormationTechnique" class="control-label"></label>
                    <input asp-for="NbUniteFormationTechnique" class="form-control" />
                    <span asp-validation-for="NbUniteFormationTechnique" class="text-danger"></span>
                </div>

            </div>

            <div class="row">
                 <div class="form-group col-4">
                    <label asp-for="NbCompetencesObligatoires" class="control-label"></label>
                    <input asp-for="NbCompetencesObligatoires" type="number" class="form-control" />
                    <span asp-validation-for="NbCompetencesObligatoires" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="NbCompetencesOptionnelles" class="control-label"></label>
                    <input asp-for="NbCompetencesOptionnelles" type="number" class="form-control" />
                    <span asp-validation-for="NbCompetencesOptionnelles" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProgrammeDeuxAns" class="control-label">Programme de 2 ans: </label>
                    <input type="radio" asp-for="ProgrammeDeuxAns" value="true" checked>
                    <label>Oui</label>
                    <input type="radio" asp-for="ProgrammeDeuxAns" value="false">
                    <label>Non</label>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="CondtionsAdmission" class="control-label"></label>
                    <textarea asp-for="CondtionsAdmission" class="form-control" style="height:180px"></textarea>
                    <span asp-validation-for="CondtionsAdmission" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Ajouter un programme" class="btn btn-info" />
            </div>
        </form>
     
    </div>
    
</div>
<div style="margin-bottom:15px;">
    <a class="btn btn-info" asp-action="List_Programme" ><i class="fas fa-arrow-left"> Retournez à la liste des programmes</i></a>
</div>
