@model projetfinalFJO.Appdata.Programmes

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Programmes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NoProgramme" />
            <div class="form-group">
                <label asp-for="NomProgramme" class="control-label"></label>
                <input asp-for="NomProgramme" class="form-control" />
                <span asp-validation-for="NomProgramme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NbHeure" class="control-label"></label>
                <input asp-for="NbHeure" class="form-control" />
                <span asp-validation-for="NbHeure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NbUnite" class="control-label"></label>
                <input asp-for="NbUnite" class="form-control" />
                <span asp-validation-for="NbUnite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NbCompetencesObligatoires" class="control-label"></label>
                <input asp-for="NbCompetencesObligatoires" class="form-control" />
                <span asp-validation-for="NbCompetencesObligatoires" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NbCompetencesOptionnelles" class="control-label"></label>
                <input asp-for="NbCompetencesOptionnelles" class="form-control" />
                <span asp-validation-for="NbCompetencesOptionnelles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CondtionsAdmission" class="control-label"></label>
                <input asp-for="CondtionsAdmission" class="form-control" />
                <span asp-validation-for="CondtionsAdmission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
