@model projetfinalFJO.Appdata.Elementcompetence

<div class="card cardspace cardstyle">
    <div class="card-header cardstyle" >
        <h4>Elements de competence</h4>
    </div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ElementCompétence" class="control-label"></label>
                        <input asp-for="ElementCompétence" class="form-control" />
                        <span asp-validation-for="ElementCompétence" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CriterePerformance" class="control-label"></label>
                        <input asp-for="CriterePerformance" class="form-control" />
                        <span asp-validation-for="CriterePerformance" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="button" value="Ajouter élément de compétence" class="btn btn-info" onclick="fnAddelecommpetenceAjax()" />
            </div>

        </form>

        <div>
            <a asp-action="Index"class="btn btn-info" style="background-color:darkblue;border-color:darkblue">Retour à la liste de compétence</a>
        </div>


    </div>
</div>


