@model projetfinalFJO.Appdata.Competences

@{
    ViewData["Title"] = "Create";
}


<div id="principale">
    <h2>create</h2>

    <div id="divliste">
        <partial name="_AddPartialcompetence" model="ViewBag.competence" />
    </div>

    <div id="divaddmodal">
        <partial name="_AddPartialelementcompetence" model="ViewBag.element" />
    </div>
    <div id="accordion">

    </div>
</div>
        @section Scripts
            {
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="~/js/site.js"></script>
        }
