@model projetfinalFJO.Appdata.Competences


@{
    ViewData["Title"] = "Create";
}


<div id="principale">

    <div id="competence">
        <partial name="_AddPartialcompetence" model="ViewBag.competence" />
    </div>

    <div id="elementcomp" style="display:none;">
        <partial name="_AddPartialelementcompetence" model="ViewBag.element" />

        <div id="accordion">
        </div>
    </div>
    <a  class="btn btn-info btnanalyse" asp-controller="AnalyseCompetence" asp-action="CreerAnalyse">Créer Analyse</a>
</div>

@section Scripts
{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
}


