@model projetfinalFJO.Appdata.Competences
@{
    ViewData["Title"] = "Create";
}

<div id="principale">
    <h2>Ajout compétence & élément de compétence</h2>

    <div id="divliste">
        <partial name="_AddPartialcompetence" model="ViewBag.competence" />
    </div>
    <hr />
    <div id="divaddmodal">
        <partial name="_AddPartialelementcompetence" model="ViewBag.element" />
    </div>
    <div id="accordion">

    </div>
</div>

@*<script type="text/javascript">
    $

</script>*@

@section Scripts
    {
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
}


