

@{
    ViewData["Title"] = "Details";
}


<div id="competence">
    <partial name="DetailsCompétence" model="ViewBag.competence" />
</div>
<div id="competence">
    <partial name="DetailsListeElement" model="ViewBag.listelement" />
</div>
<div>
    <a asp-action="ListeCompetence" class="btn btn-info">Retour à la liste</a>
</div>
