@model projetfinalFJO.Appdata.Competences

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Competences</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CodeCompetence" />
            <div class="form-group">
                <label asp-for="ObligatoireCégep" class="control-label"></label>
                <input asp-for="ObligatoireCégep" class="form-control" />
                <span asp-validation-for="ObligatoireCégep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContextRealisation" class="control-label"></label>
                <input asp-for="ContextRealisation" class="form-control" />
                <span asp-validation-for="ContextRealisation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idfamille" class="control-label"></label>
                <select asp-for="Idfamille" class="form-control" asp-items="ViewBag.Idfamille"></select>
                <span asp-validation-for="Idfamille" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoProgramme" class="control-label"></label>
                <select asp-for="NoProgramme" class="form-control" asp-items="ViewBag.NoProgramme"></select>
                <span asp-validation-for="NoProgramme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
