@model IEnumerable<projetfinalFJO.Appdata.Competences>

@{
    ViewData["Title"] = "Index";
}

<div id="principale">
    <h2>Index</h2>

    <div id="divliste">
        <partial name="_ListPartial" model="ViewBag.ListCompetence" />
    </div>

    <div id="divaddmodal">
        <partial name="_AddPartialcompetence" model="ViewBag.Competence" />
    </div>
</div>
@section Scripts
    {
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

}