@model projetfinalFJO.Appdata.Competences

@{
    ViewData["Title"] = "ModifierCompetence";
}

<h2>Modifier la compétence</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ModifierCompetence">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CodeCompetence" />                  
            <div class="form-group">
                <label asp-for="Titre" class="control-label"></label>
                <input asp-for="Titre" class="form-control" />
                <span asp-validation-for="Titre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObligatoireCégep" class="control-label">Compétence obligatoire: </label>
                <input type="radio" asp-for="ObligatoireCégep" value="true">
                <label>Oui</label>
                <input type="radio" asp-for="ObligatoireCégep" value="false">
                <label>Non</label>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContextRealisation" class="control-label"></label>
                <textarea asp-for="ContextRealisation" class="form-control"></textarea>
                <span asp-validation-for="ContextRealisation" class="text-danger"></span>
            </div>           
            <div class="form-group">
                <div class="form-group">
                    <input type="submit" value="Enregistrer les modifications" class="btn btn-info" />
                </div>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="ListeCompetence" class="btn btn-info" id="btnListe" style="background-color:darkblue;border-color:darkblue">Retour à la liste de compétence</a>
</div>

